.card{
    background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}

.form-control{
    max-width: 448px;
    border-radius: 4px !important;
}
.form-select{
    max-width: 462px;
    border-radius: 4px !important;

}

#sec{
    display: flex;
    align-items: center;
    padding-left: 4rem;
    /* justify-content: center; */
}
#lastSec{
    padding-left: 2rem;
    /* justify-content: center; */
}

.para{
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    color: #34495E;
}

.cd{
    background-color: #E4E4E4;
    font-size: 20px;
    font-weight: 800px;
}

#subHead{
    font-size: 14px;
    color: #34495E;
}

#che{
padding-top: 1rem;
}

#flexCheckChecked{
    background-color: #66332B;
    /* color: #66332B; */
    border: none;
    border-radius: 1px;
}



.btns{
    border: 2px solid brown;
    color: brown;
    border-radius: 4px;
}


