<!-- card1 -->
<div class="container-fluid" style="padding-top: 40px">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-8 col-sm-10 col-xs-11">
      <div class="card">
        <div class="card-header cd">Layout Options</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
                <div class="row">
                    <div class="col-12">
                        <p class="para">Assembly Type</p>
                    </div>
                    <!-- <div class="col-2"><i class="fa fa-question-circle" aria-hidden="true"></i></div> -->
                </div>
              
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Complete Door</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Measure Size</p>
            </div>
            <div class="col-lg-8 col-sm-8">
              <div class="row mb-2">
                <div class="col-lg-2 col-sm-4" id="subHead">Width</div>
                <div class="col-lg-4 col-sm-4 " >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>6ft</option>
                    <option value="1">7ft</option>
                  </select>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>2in</option>
                    <option value="1">3in</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-sm-4" id="subHead">Height</div>
                <div class="col-lg-4 col-sm-4">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>6ft</option>
                    <option value="1">7ft</option>
                  </select>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>0in</option>
                    <option value="1">3in</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Windcode</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>WindCode W1</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Design</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>CC</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Color</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Dark Finish</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- card2 -->
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-8 col-sm-10 col-xs-11">
      <div class="card">
        <div class="card-header cd">Window Options</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Glass Type</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Section(s) Glazed</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Section(s) Glazed</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>WindCode W1</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Flaming</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>CC</option>
              </select>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>


  <!-- card3 -->
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-8 col-sm-10 col-xs-11">
      <div class="card">
        <div class="card-header cd">Layout Options</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Assembly Type</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Complete Door</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Windcode</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>WindCode W1</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Design</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>CC</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Color</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Dark Finish</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Color</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Dark Finish</option>
              </select>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Color</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Dark Finish</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  
  <!-- card4 -->
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-8 col-sm-10 col-xs-11">
      <div class="card">
        <div class="card-header cd">Other Options</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Lock</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Inside Lock (#2)</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">MISC Lock Options</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      No Lock Hole
                    </label>
                  </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4 col-sm-4" id="sec">
              <p class="para">Packing</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <select
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>[x] Distributor</option>
              </select>
              <div class="row mt-1" style="color: #D50000;">
                <div class="col-1"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
               <div class="col-11" style="padding-left: 0px;"> Clopay CWD Models Excludes  Packaging Options</div>
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-lg-4 col-sm-4" id="lastSec">
              <p class="para">Additional Options</p>
            </div>
            <div class="col-lg-8 col-sm-8" >
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Extra Strut(s)
                            </label>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>5 Extra</option>
                      </select>
                    </div>
                </div>
               
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Spade Strap Hings
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        14 GA Quiet Hinge
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Less Bottom Astragal
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Gold Bar Gurantee ( Select Dealers )
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Medallion Hardware Upgrade
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                    Light Seal Kit 
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Slide Lock Mounted at 54”
                    </label>
                  </div>
                  <div class="form-check" id="che">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        2 Spear Lift Handles
                    </label>
                  </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- card5 -->
   <!-- card2 -->
   <div class="row d-flex justify-content-center mt-4 mb-4">
    <div class="col-lg-8 col-sm-10 col-xs-11">
      <div class="card" style="max-height: 80px;">
        <div class="card-body">
          <div class="row mb-3" >
            <div class="col-lg-8 col-sm-8 " id="sec"></div>
            <div class="col-lg-2 col-sm-2 mt-2" id="cardpart">
                <button type="button" class="btn">Primary</button>
              </div>
              <div class="col-lg-2 col-sm-2  mt-2" id="cardpart">
                <button type="button" class="btn" disabled>Primary</button>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>



  
</div>


