
  

    <div class="navbar-container">
      <ul class="ulist">
    <div class="list1">
      <li class="nav-link active-link">
        <a href="">Active carts
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-link">
        <a href="#">Achived carts</a>
        <div class="underline"></div>
      </li>
    </div>
    <div class="list2">
      <li class="form">
        <div class="form-group ">
          <input class="form-control input-sm " id="inputsm" type="text" placeholder="search">
          <i class="fa fa-search"></i>
        </div> 
      </li>

      <li class="nav-link">
      <button class="filterBtn" >Filter</button>

      </li>
    </div>
       
       
      </ul>
    </div>
      <table class="table table-striped">
    
      <thead>
          <tr>
            <th class="thead" scope="col">Product information<i class="fa fa-arrow-down" aria-hidden="true"></i>
            </th>
            <th class="thead" scope="col">Cart name<i class="fa fa-arrow-down" aria-hidden="true"></i>
            </th>
            <th class="thead" scope="col">Shipping point
              <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
            <th class="thead" scope="col">Created by
              <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
            <th class="thead" scope="col">Expiry
              <i class="fa fa-arrow-down" aria-hidden="true"></i></th>

          </tr>
        </thead>
        <tbody>
          <tr class="t-row">
            <td class="tdata">2 Classic Collection Garage Door, 2 Entry Door</td>
            <td class="tdata">Johnson_Classic14209123</td>
            <td class="tdata">Russia Plant</td>
            <td class="tdata">Manoj Bajpayee</td>
            <td class="col-color tdata">Expires in 6 days</td>
          </tr>
          <tr class="t-row">
            <td class="tdata">2 Classic Collection Garage Door, 2 Entry Door</td>
            <td class="tdata">Johnson_Classic14209123</td>
            <td class="tdata">Russia Plant</td>
            <td class="tdata">Manoj Bajpayee</td>
            <td class="col-color tdata">Expires in 6 days</td>
          </tr>
          <tr class="t-row">
            <td class="tdata">2 Classic Collection Garage Door, 2 Entry Door</td>
            <td class="tdata">Johnson_Classic14209123</td>
            <td class="tdata">Russia Plant</td>
            <td class="tdata">Manoj Bajpayee</td>
            <td class="col-color tdata">Expires in 6 days</td>
          </tr>
          <tr class="t-row">
            <td class="tdata">2 Classic Collection Garage Door, 2 Entry Door</td>
            <td class="tdata">Johnson_Classic14209123</td>
            <td class="tdata">Russia Plant</td>
            <td class="tdata">Manoj Bajpayee</td>
            <td class="col-color tdata">Expires in 6 days</td>
          </tr>
          <tr class="t-row">
            <td class="tdata">2 Classic Collection Garage Door, 2 Entry Door</td>
            <td class="tdata">Johnson_Classic14209123</td>
            <td class="tdata">Russia Plant</td>
            <td class="tdata">Manoj Bajpayee</td>
            <td class="col-color tdata">Expires in 6 days</td>
          </tr>
        </tbody>
    </table>