<div class="full">
  <div class="container-fluid menu">
    <div class="names">
      <h5 class="carts">Active carts</h5>
      <h5 class="carts" >Achive carts</h5>
      
    </div>
    <div class="feilds">
      <!-- <h5>Active carts</h5> -->
      <div class="row">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border inpt" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 bg-white border srchbtn" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </div>
      <button class="filter" >Filter</button>
    </div>
  </div>
    <table class="table table-striped">
    
        <thead>
            <tr>
              <th class="thead" scope="col">Product information<i class="fa fa-arrow-down" aria-hidden="true"></i>
              </th>
              <th class="thead" scope="col">Cart name<i class="fa fa-arrow-down" aria-hidden="true"></i>
              </th>
              <th class="thead" scope="col">Shipping point
                <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
              <th class="thead" scope="col">Created by
                <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
              <th class="thead" scope="col">Expiry
                <i class="fa fa-arrow-down" aria-hidden="true"></i></th>

            </tr>
          </thead>
          <tbody>
            <tr class="t-row">
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@twitter</td>
              <td>@twitter</td>


            </tr>
            <tr class="t-row">
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@twitter</td>
              <td>@twitter</td>


            </tr>
            <tr class="t-row">
              <td >Larry the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
              <td>@twitter</td>
              <td>@twitter</td>


            </tr>
            <tr class="t-row">
                <td >Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>

              </tr>
              <tr class="t-row">
                <td >Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td >Larry the Bird</td>
                <td>@twitter</td>
              </tr>
          </tbody>
      </table>
    </div>