
<div class="cont">
  <div class="navs">
    <app-navbar    *ngIf="compName === 'table'"></app-navbar>
    <app-sub-navbar [compName]="compName"></app-sub-navbar>
  </div>
  <div class="container-fluid" *ngIf="compName !== 'table'" >
    <div class="row">
      <div class="col-2  col-lg-2">
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-8">
        <app-createneworder *ngIf="SubCompName === 'createneworder'" (newItemEvent) = " config($event)"></app-createneworder>
        <app-configure-door *ngIf="SubCompName === 'configPage'" (newItemEvent) = " config($event)" ></app-configure-door>
        <app-forms *ngIf="SubCompName === 'forms'"  (DataTransfer)="added($event)" [btnlabel]="btnlabel" (newItemEvent) = " config($event)" [Data] = "Data"  ></app-forms>
        <app-place-order *ngIf="SubCompName === 'placeOrder'" [addedData] = "addedData" (buttonlable)="buttonlable($event)" [Data] = "Data"  (newItemEvent) = " addBook($event)"></app-place-order>
        
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="compName === 'table'" >
    <div class="row">
      <div class="col-12">
        <app-table (newItemEvent) = "addBook($event)" (btnlabel)="btnlabels($event)" (DataTransfer)="transferData($event)" (DataEmmit)="placeOrderData($event)" ></app-table>
      </div>
    </div>
  </div>
</div>