<div class="container">
    <div class="sub-container">
    <form>
        <div class="row mb-3">
            <div class="col-3">
                <label for="exampleInputEmail1" class="form-label">Select Catagory</label>
            </div>
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Residential Door</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
            </div>
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Canyon Ridge Collection</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
            </div>
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>CAN@!@</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
          </div>
        </div>
      </form>
    </div>
      <div class="container p-2">
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="btn config-btn" >Configure</button>
            </div>
        </div>
       
      </div>
</div>
