.sub-container{
    height: 74vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
}
.config-btn{
    background-color: rgba(165, 42, 42, 0.897);
    color: white;
    width: 100%;
}
.container{
    background-color: white;
}