<nav class="navbar bg-dark navbar-expand-lg ">
  <div class="container-fluid">
    <span class="logo py-1 px-2 mr-1">f1</span>
    <a class="navbar-brand ml-3" href="#">Studioz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="navbar-text">
        <span class="icons">
          <i class="fa fa-th" aria-hidden="true"></i>
        </span>
       <span class="icons bellIcon">
        <i class="fa fa-bell" aria-hidden="true"></i> <span class="dotted">.</span>
       </span>
       <span class="icons">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
       </span>
       <span>
        <img class="profilepic" src="../../../assets/profile.jpg" alt="pic" />
       </span>
      </div>
    </div>
  </div>
</nav>