.navbar{
    background-color: black;
}
.navbar-brand{
    color: white !important;
}
.nav-item a{
    color: white;
}
.navbar-text{
    color: white;
}
button .navbar-toggler-icon{
    color: white;
}