.sub-header{
    font-family: 'Helvetica Neue';
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #34495E;
}
.card{
    border-radius: 0px !important;
padding: 16px;
margin: 10px;
width: 70%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.parent-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.fade-text{
    color: #8894A0;
    font-size: 14px;
}
.normal-text{
    color: black;
    font-size: 14px;
}
.green-text{
    color: #17A85F;
    font-size: 14px;
    font-weight:600
}
.qty-input{
    width: 50px !important;
    text-align: center;
}
.col-space{
    column-gap: 8px;
}
.qty{
    margin-right: 8px;
}
.btns{
    border: 1px solid rgba(0, 0, 0, 0.493);
}
.text-center{
    text-align: center;
    color: #17A85F;
    font-size: 16px;
    font-weight: 400;
}
.mpq-txt{
    color: #66332B !important;
    font-size: 16px;
    font-weight: 600;
}
.text-right{
    text-align: right;
}

.btn-border{
    border: 1px solid #E4E4E4;
}