<div class="container-fluid">
  <div class="row mb-3 pt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
      <div class="card" (click)="addItems()">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p class="card-title">Configure your door from scratch</p>
              <p class="card-text">Residential, Commerical, Entry doors</p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center"><i class="fa fa-chevron-right" 
               aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p class="card-title">Parts / Openers</p>
              <p class="card-text">Order Parts and Openers</p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center"><i class="fa fa-chevron-right"
                aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p class="card-title">Direct Item Entry</p>
              <p class="card-text">Order Parts / Openers using a Product ID</p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center"><i class="fa fa-chevron-right"
                aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p class="card-title">Choose from favourites</p>
              <p class="card-text">Re-order door from your favourites </p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center"><i class="fa fa-chevron-right"
                aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>